@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primaryGrey: rgba(0, 0, 0, 0.3);
  --accentOrange: rgba(255, 153, 0, 1.0);
  --accentOrangeDark: rgba(103, 62, 0, 1);
  --rarityNormal: rgba(102, 102, 102, 0.7);

  --text: #fef9ec;
  --background: #1f1f1f;
  --primary: #ffffff;
  --secondary: #000000;
  --accent: #e29822;

  /* Common Main Color */
  /* --rarityCommon: rgba(255, 255, 255, 0.7); */

  --primary: #000000;
  --normal: #666666;
  --common: #a8a8a8;
  --uncommon: #3eaa3e;
  --rare: #2d6cac;
  --epic: #7e36a0;
  --legendary: #bd8127;
  --mythical: #b43434;

  --moneyColor: #54ff5c;
  color: black;
  /* font-family: 'Poppins'; */
  /* font-weight: 800; */
  /* background-image: url("./assets/gta_daytime.jpg"); */
  /* background-image: url("./assets/gta_daytime.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("./assets/car_garage.png"); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --weightBarGradient: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 25%, rgba(208, 222, 33, 1) 50%, rgba(79, 220, 74, 1) 75%, rgba(63, 218, 216, 1) 100%);
  user-select: none;
  font-family: 'Poppins';
  font-weight: 400;
  /* background: url("./assets/light_bg.png"); */
  background-size: cover;
}

* {
  /* overflow: hidden; */
  margin: 0;
}

body {
  scrollbar-gutter: stable both-edges;
}