.container-backer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    color: white;
    gap: 10px;
    /* height: 100%; */
}


.container-grid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
    /* scrollbar-gutter: stable; */
}

.container-grid-wrapper::-webkit-scrollbar {
    display: none;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 10px;
    height: 530px;
}

.container-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.stats-title {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.stat {
    width: 100%;
    /* border: solid 2px white;
    box-sizing: border-box; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

.stat-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stat-name {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.stat-icon {
    height: 24px;
    width: 24px;
    color: var(--accentOrange)
}

.stat-data {
    color: #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}